@{
    ViewData["Title"] = "Dołącz do naszego grona!";
}
<h1 class="text-center">Dołącz do naszego grona!</h1>
<p class="text-center">Poniżej znajdziesz wszystkie gry e-sportowe, oraz sporty w których znajdziesz kompanów do wspólnej rozgrywki!</p>

<style>
    .btn-group a {
        background-color: #ffffff;
        color: #44aaaa;
        border: 1px solid #44aaaa;
        border-radius: 5px;
        font-size: 24px;
        padding: 10px;
        text-decoration: none;
        transition-duration: 0.4s;
        text-transform: uppercase;
        margin: 5px 5px;
        

    }

        .btn-group a:hover {
            background-color: #44aaaa;
            color: #ffffff;
            border: 1px solid #44aaaa;
        }

    .btn-group {
        text-align: left;
    }

</style>

<div class="btn-group">
    <a href="https://localhost:44374/Lols"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/LoL_icon.svg" width="250" height="250"></a>
    <a href="https://localhost:44374/Cs"><img src="https://seeklogo.com/images/C/csgo-logo-CAA0A4D48A-seeklogo.com.png" width="250" height="250"></a>
    <a href="https://localhost:44374/Fortnites"><img src="https://www.e-kolorowanki.eu/wp-content/uploads/2019/04/logo-fortnite-battle-royale-kolorowanka.png" width="250" height="250"></a>
 </div>
    
    
<div class="btn-group">
        <a href="https://localhost:44374/PilkaNoznas"><img src="https://agencjapoint.pl/media/catalog/product/cache/142a438732812e4b9a2e5751a7420004/r/e/reklamowa-pilka-nozna-5-z-logo-v7334-88-agencja-point-gadzety-reklamowe-sportowe-dla-kibica.jpg" width="250" height="250"></a>
        <a href="https://localhost:44374/Koszykowkas"><img src="https://img.freepik.com/premium-wektory/pilka-do-koszykowki-ilustracja-na-bialym-tle-element-na-logo-etykiete-godlo-znak-ilustracja_124137-1354.jpg?w=1060" width="250" height="250"></a>
        <a href="https://localhost:44374/Siatkowkas"><img src="https://reklamowegadzety.pl/uploads/source/products/21317/1596057504790066520.jpg" width="250" height="250"></a>
</div>
